@model GuildHub.Web.ViewModels.Guild.GuildApplicationInputModel
@{ 
    ViewData["Title"] = Model.Name;
}
<h1 class="text-center">Applying for @Model.Name</h1>
<input asp-for="ApplicationTemplate" />
<button type="submit">Apply</button>

